html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

p {
  margin: 0;
}

.top-strip {
  height: 8px;
  background-color: #52120f;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding: 0 32px;
  max-width: 360px;
  height: calc(100% - 8px);
  min-height: 480px;

  font-family: Mulish, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container .text .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #52120f;
}

.container .text .subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #7f7f7f;
}

.container .input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container .input-container #wpp-input {
  display: flex;
  gap: 8px;
  height: 24px;
  font-size: 16px;
  padding: 0;
  border: none;
  font-family: Mulish, sans-serif;
}

.container .input-container #wpp-input:focus {
  outline: none;
}

.container .input-container .number-label {
  font-size: 14px;
  color: #949494;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container .input-container .number-label .input-icon {
  display: flex;
  gap: 8px;
  border: 1px solid #7f7f7f;
  border-radius: 4px;
  padding: 15px 8px;
}

.container .input-container .checkbox-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.container .input-container .checkbox-container #terms {
  cursor: pointer;
  margin: 0;
  height: 16px;
  transform: scale(1.2);
}

.container .input-container .checkbox-container .checkbox-label {
  font-size: 12px;
  line-height: 16px;
  color: #7f7f7f;
}

.container .input-container .checkbox-container .checkbox-label a:visited {
  color: #7f7f7f;
}

.container .start-btn {
  border: none;
  background-color: #02acd0;
  border-radius: 500px;
  padding: 8px 16px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.container .start-btn:hover {
  opacity: 0.8;
}

.container .start-btn span {
  color: #fff;
  font-family: Mulish, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.container .shopping-logo {
  width: 133px;
}
